$width-left-column: 30px;
.row1 {
  display: flex;
  .y-axis {
    display: flex;
    flex-basis: $width-left-column;
    flex-direction: column-reverse;
    align-items: flex-end;
    .y-axis-element {
      border-right: 1px solid #4054B2;
      border-bottom: 1px solid #4054B2;
      height: 30px;
      display: flex;
      flex-direction: column-reverse;
      width: 5px;
      margin-right: 10px;
      position: relative;
      .tick-mark {
        position: absolute;
        font-size: 10px;
        left: -20px;
        bottom: -5px;
      }
    }
  }
  .bins {
    display: flex;
    flex-grow: 1;
    .bin {
      display: flex;
      flex-grow: 1;
      flex-direction: column-reverse;
    }
  }
  .empty {
    flex-basis: 30px;
  }
}

.row2 {
  display: flex;
  .empty {
    flex-basis: $width-left-column;
  }
  .x-axis {
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
    .x-axis-element {
      border-left: 1px solid #4054B2;
      border-top: 1px solid #4054B2;
      flex-grow: 1;
      height: 6px;
      position: relative;
      .tick-mark {
        position: absolute;
        font-size: 10px;
        left: -5px;
        bottom: -15px;
      }
    }
  }
  .unit {
    flex-basis: 30px;
  }
}
