<h1>
  Interactive Histogram
</h1>

<div *ngIf="!displayHistogram">
  <h2>
    Step 1: Upload CSV
  </h2>
  
  <p>
    The <code>.csv</code> should contain the following colums:
  </p>
  <pre>size, image-file-name</pre>
  
  <mat-card class="file-input-card">
    <app-csv-upload></app-csv-upload>
  </mat-card>
  
  <h2>
    Step 2: Upload Images
  </h2>
  
  <mat-card class="file-input-card">
    <app-file-upload></app-file-upload>
  </mat-card>
  
  <div *ngIf="!imageStore.isEmpty">
    <div><h3>Loaded Files</h3></div>
    
    <div *ngFor="let file of fileStoreArray" class="file-display">
      {{file}}
    </div>
    <p>
      (refresh page to clear)
    </p>
  </div>
  
  
  <h2>Step 3: Choose histogram configuration</h2>
  
  <div class="example-container">
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="numberBins" placeholder="Number of Bins">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="start" placeholder="Start">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="end" placeholder="End">
    </mat-form-field>
  </div>
  
  <br>
  
  <button mat-raised-button color="primary" (click)="displayHistogram = true">
    Generate Histogram
  </button>
</div>

<div *ngIf="displayHistogram">
  <p>
    <i>Click a block to see the corresponding image.</i>
  </p>
  <app-histogram [numberBins]="numberBins"
                 [start]="start"
                 [end]="end"
                 [data]="data">
  </app-histogram>
  <br>
  <app-displayed-image></app-displayed-image>
  
  <hr>
  
  <button mat-raised-button color="primary" (click)="displayHistogram = false">
    Edit Settings
  </button>
  
</div>


<br>

