<h1>
  Interactive Histogram
</h1>

<mat-card>
  
  <mat-horizontal-stepper>
    <mat-step>
      <ng-template matStepLabel>Upload CSV</ng-template>
      <mat-card class="file-input-card">
        <app-csv-upload></app-csv-upload>
      </mat-card>
      <div class="stepper-controls">
        <div class="flex-spacer"></div>
        <button mat-raised-button color="primary" matStepperNext class="next">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Upload Images</ng-template>
      <mat-card class="file-input-card">
        <app-file-upload></app-file-upload>
      </mat-card>
      <div class="stepper-controls">
        <button mat-raised-button color="primary" matStepperPrevious class="back">Back</button>
        <div class="flex-spacer"></div>
        <button mat-raised-button color="primary" matStepperNext class="next">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Configure</ng-template>
      <div class="example-container">
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="numberBins" placeholder="Number of Bins">
        </mat-form-field>
    
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="start" placeholder="Start">
        </mat-form-field>
    
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="end" placeholder="End">
        </mat-form-field>
      </div>
      <div class="stepper-controls">
        <button mat-raised-button color="primary" matStepperPrevious class="back">Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>


<div *ngIf="data && data.length > 0">
  <br><br><br>
  <app-histogram [numberBins]="numberBins"
                 [start]="start"
                 [end]="end"
                 [data]="data">
  </app-histogram>
  <br>
  <app-displayed-image></app-displayed-image>
</div>


<br>

